.rectangle1{
  height:400px;
  width:600px;
  float: right;
  margin-top: 13%;
}
.logo{
  position: absolute;
  height: 35%;
  margin-left: 5%;
}

.rectangle2{
  margin-top: 2%;
  height: 85%;
  float: left;
  position: relative;
}


.titre{
  margin-left: 2%;
  margin-bottom: -5%;
  float: left;
}

.text{
  margin-left: 60%;
  position: absolute;
  margin-top: 20% ;

}

#paiement{
  margin-left: 155%;
  margin-top: -5%;
}

.text3{
  font-weight: bold;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 40%;
  margin-left:70%;

}

.cta {
  display: flex;
  padding: 7px 25px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size:23px;
  color: white;
  background: #0b5ed7;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 7px 7px 0 #FBC638;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
  transition: 0.5s;
  margin-right: 20px;
}

span {
  transform: skewX(15deg)
}

span:nth-child(2) {
  width: 10px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #FBC638;
  }
  100% {
    fill: white;
  }
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}



.card:hover{
  background-color: #c9ced4;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.card{
  position: absolute;
  margin-left: 5%;
  margin-top: 5%;
}


.image{
  width:20%;
  float: right;
  margin-top: 2%;
  position: absolute;
}

.container{
  float: left;
  margin-left: 20%;
}

h3,h2{
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

svg{
  font-size: 2rem;
  color: red;
  margin-top: -12%;
  margin-left: 68%;
  position: absolute;
}
