<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<img class="logo" src="assets/logo.png">

<div class="container">
  <p class="welecom">Welcome ! </p>
  <div class="log">
    <form class="login">
      <div class="login__field">
        <input type="email" pattern=".+@globex\.com" class="login__input" placeholder="User name / Email">
      </div>
      <div class="login__field">
        <input type="password" class="login__input" placeholder="Password">
      </div>
      <button  class="button login__submit">
        <span [routerLink]="['/admin/categorie']"  class="button__text">Connexion</span>
      </button>
    </form>
    <br>
    <br>
    <h2 class="logqr">------ Espace Admin ------</h2>
  </div>
</div>
</body>
</html>
